In [89]:
import math
import numpy as np
from PIL import Image
import pandas as pd
import altair as alt
import plotly.express as px
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import datetime as dt

In [90]:
vaccine_data = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv')
vaccine_loc = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/locations.csv')

In [91]:
vaccine_data

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...
22759,Zimbabwe,ZWE,2021-05-24,914921.0,633635.0,281286.0,3888.0,14380.0,6.16,4.26,1.89,968.0
22760,Zimbabwe,ZWE,2021-05-25,927990.0,639553.0,288437.0,13069.0,13719.0,6.24,4.30,1.94,923.0
22761,Zimbabwe,ZWE,2021-05-26,937040.0,643531.0,293509.0,9050.0,13194.0,6.30,4.33,1.97,888.0
22762,Zimbabwe,ZWE,2021-05-27,953389.0,648121.0,305268.0,16349.0,12285.0,6.41,4.36,2.05,827.0
22763,Zimbabwe,ZWE,2021-05-28,976796.0,656630.0,320166.0,23407.0,12695.0,6.57,4.42,2.15,854.0

In [92]:
vaccine_loc

,location,iso_code,vaccines,last_observation_date,source_name,source_website
0,Afghanistan,AFG,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",2021-05-26,World Health Organization,https://covid19.who.int/
1,Albania,ALB,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",2021-05-27,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
2,Algeria,DZA,Sputnik V,2021-02-19,Ministry of Health,https://www.echoroukonline.com/%d9%84%d9%82%d8...
3,Andorra,AND,"Oxford/AstraZeneca, Pfizer/BioNTech",2021-05-17,Government of Andorra,https://www.govern.ad/covid19_newsletter/
4,Angola,AGO,Oxford/AstraZeneca,2021-05-26,World Health Organization,https://covid19.who.int/
...,...,...,...,...,...,...
208,Wales,OWID_WLS,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",2021-05-27,Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
209,Wallis and Futuna,WLF,Oxford/AstraZeneca,2021-05-25,SPC Public Health Division,https://stats.pacificdata.org/vis?tm=covid&pg=...
210,Yemen,YEM,Oxford/AstraZeneca,2021-05-09,World Health Organization,https://covid19.who.int/
211,Zambia,ZMB,"Oxford/AstraZeneca, Sinopharm/Beijing",2021-05-28,Government of Zambia,https://www.facebook.com/mohzambia/posts/19196...
212,Zimbabwe,ZWE,Sinopharm/Beijing,2021-05-28,Ministry of Health,https://twitter.com/MoHCCZim/status/1398356390...

In [93]:
del vaccine_loc['last_observation_date']

In [94]:
vaccine_loc.shape

(213, 5)

In [95]:
vaccine_data.shape

(22764, 12)

In [96]:
df_vaccine = pd.merge(vaccine_data, vaccine_loc, on=["location", "iso_code"])

In [97]:
df_vaccine.isnull().sum()

location                                   0
iso_code                                   0
date                                       0
total_vaccinations                      8977
people_vaccinated                       9753
people_fully_vaccinated                12247
daily_vaccinations_raw                 10988
daily_vaccinations                       217
total_vaccinations_per_hundred          8977
people_vaccinated_per_hundred           9753
people_fully_vaccinated_per_hundred    12247
daily_vaccinations_per_million           217
vaccines                                   0
source_name                                0
source_website                             0
dtype: int64

In [98]:
df_vaccine.drop(['daily_vaccinations_raw'], axis=1)

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,0.00,0.00,NaN,NaN,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",World Health Organization,https://covid19.who.int/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20917,Zimbabwe,ZWE,2021-05-24,914921.0,633635.0,281286.0,14380.0,6.16,4.26,1.89,968.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1398356390...
20918,Zimbabwe,ZWE,2021-05-25,927990.0,639553.0,288437.0,13719.0,6.24,4.30,1.94,923.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1398356390...
20919,Zimbabwe,ZWE,2021-05-26,937040.0,643531.0,293509.0,13194.0,6.30,4.33,1.97,888.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1398356390...
20920,Zimbabwe,ZWE,2021-05-27,953389.0,648121.0,305268.0,12285.0,6.41,4.36,2.05,827.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1398356390...
20921,Zimbabwe,ZWE,2021-05-28,976796.0,656630.0,320166.0,12695.0,6.57,4.42,2.15,854.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1398356390...

In [99]:
df_vaccine['date'] = pd.to_datetime(df_vaccine['date'])
df_vaccine = df_vaccine.sort_values('date', ascending=True)

df_vaccine['date'] = df_vaccine['date'].dt.strftime('%Y-%m-%d')

In [100]:
df_vaccine = df_vaccine.rename(columns={'location': 'country'})

In [101]:
for iso_code in df_vaccine['iso_code'].unique():
    df_vaccine.loc[df_vaccine['iso_code'] == iso_code, :] = df_vaccine.loc[df_vaccine['iso_code'] == iso_code, :].fillna(method='ffill').fillna(0)

In [102]:
df_vaccine.isnull().sum()

country                                0
iso_code                               0
date                                   0
total_vaccinations                     0
people_vaccinated                      0
people_fully_vaccinated                0
daily_vaccinations_raw                 0
daily_vaccinations                     0
total_vaccinations_per_hundred         0
people_vaccinated_per_hundred          0
people_fully_vaccinated_per_hundred    0
daily_vaccinations_per_million         0
vaccines                               0
source_name                            0
source_website                         0
dtype: int64

In [103]:
df_vaccine.to_csv('data/df_vaccine.csv')

In [105]:
df_daily = pd.read_csv(r'C:\Users\Srijhak\Documents\Covid19-dash\data\worldometer_coronavirus_daily_data.csv')
df_summary = pd.read_csv(r'C:\Users\Srijhak\Documents\Covid19-dash\data\worldometer_coronavirus_summary_data.csv')

In [106]:
df_daily.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,2020-2-15,Afghanistan,0.0,NaN,0.0,0.0,NaN
1,2020-2-16,Afghanistan,0.0,NaN,0.0,0.0,NaN
2,2020-2-17,Afghanistan,0.0,NaN,0.0,0.0,NaN
3,2020-2-18,Afghanistan,0.0,NaN,0.0,0.0,NaN
4,2020-2-19,Afghanistan,0.0,NaN,0.0,0.0,NaN

In [107]:
df_summary.head()

,country,continent,total_confirmed,total_deaths,total_recovered,active_cases,serious_or_critical,total_cases_per_1m_population,total_deaths_per_1m_population,total_tests,total_tests_per_1m_population,population
0,Afghanistan,Asia,66275,2812.0,56035,7428,1124.0,1669,71.0,446456.0,11244.0,39705801
1,Albania,Europe,132209,2444.0,128732,1033,18.0,45986,850.0,696434.0,242239.0,2874990
2,Algeria,Africa,126860,3418.0,88346,35096,18.0,2847,77.0,230861.0,5182.0,44554310
3,Andorra,Europe,13569,127.0,13234,208,12.0,175367,1641.0,193595.0,2502036.0,77375
4,Angola,Africa,32441,725.0,26778,4938,11.0,961,21.0,553070.0,16377.0,33770175

In [108]:
df_daily.shape

(102104, 7)

In [109]:
df_summary.shape

(220, 12)

In [110]:
df_summary.isnull().sum()

country                            0
continent                          0
total_confirmed                    0
total_deaths                      14
total_recovered                    0
active_cases                       0
serious_or_critical               71
total_cases_per_1m_population      0
total_deaths_per_1m_population    19
total_tests                       10
total_tests_per_1m_population     10
population                         0
dtype: int64

In [111]:
df_daily.isnull().sum()

date                           0
country                        0
cumulative_total_cases         0
daily_new_cases             6873
active_cases                   0
cumulative_total_deaths     6496
daily_new_deaths           20278
dtype: int64

Merging summary data and vaccine data

In [112]:
print("Countries in the Vaccination Data not in Summary Data")
print([x for x in df_vaccine['country'].unique() if x not in df_summary['country'].unique()])

Countries in the Vaccination Data not in Summary Data
['United States', 'Czechia', 'England', 'Scotland', 'Northern Ireland', 'Wales', 'United Kingdom', 'Turks and Caicos Islands', 'Northern Cyprus', 'Isle of Man', 'Guernsey', 'Falkland Islands', 'Macao', 'Bosnia and Herzegovina', 'Trinidad and Tobago', 'North Macedonia', 'Antigua and Barbuda', 'Saint Kitts and Nevis', 'Hong Kong', "Cote d'Ivoire", 'Vietnam', 'Jersey', 'Sao Tome and Principe', 'Saint Vincent and the Grenadines', 'Cape Verde', 'Wallis and Futuna', 'Kosovo', 'Palestine', 'Eswatini', 'Brunei', 'Turkmenistan', 'Nauru', 'Bonaire Sint Eustatius and Saba', 'Timor', 'Democratic Republic of Congo', 'Tonga', 'Tuvalu', 'Sint Maarten (Dutch part)', 'Guinea-Bissau', 'Pitcairn']

In [113]:
df_vaccine.country = df_vaccine.country.replace().replace({
    "Antigua and Barbuda": "Antigua And Barbuda",
    "Bosnia and Herzegovina": "Bosnia And Herzegovina",
    "Brunei": "Brunei Darussalam",
    "Cape Verde": "Cabo Verde",
    "Cote d'Ivoire": "Cote D Ivoire",
    "Czechia": "Czech Republic", 
    "Democratic Republic of Congo": "Democratic Republic Of The Congo",
    "Falkland Islands": "Falkland Islands Malvinas",
    "Guinea-Bissau": "Guinea Bissau",
    "Isle of Man": "Isle Of Man",
    "North Macedonia": "Macedonia",
    "Northern Cyprus": "Cyprus",
    "Northern Ireland": "Ireland",
    "Saint Kitts and Nevis": "Saint Kitts And Nevis",
    "Saint Vincent and the Grenadines": "Saint Vincent And The Grenadines",
    "Sao Tome and Principe": "Sao Tome And Principe",
    "Sint Maarten (Dutch part)": "Sint Maarten",
    "Timor": "Timor Leste",
    "Trinidad and Tobago": "Trinidad And Tobago",
    "Turks and Caicos Islands": "Turks And Caicos Islands",
    "United Kingdom": "UK",
    "United States": "USA",
    "Vietnam": "Viet Nam",
    "Wallis and Futuna": "Wallis And Futuna Islands"
})

In [114]:
df_vaccine = df_vaccine[df_vaccine.country.apply(lambda x: x not in ['Bonaire Sint Eustatius and Saba','England','Eswatini','Guernsey','Hong Kong','Jersey','Kosovo','Macao',
'Nauru','Palestine','Pitcairn','Scotland','Tonga','Turkmenistan','Tuvalu', 'Wales'])]

In [115]:
print([x for x in df_vaccine['country'].unique() if x not in df_summary['country'].unique()])

[]

In [116]:
df_vaccine.to_csv('data/df_vaccine.csv')

In [117]:
df_vaccine.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
14233,Norway,NOR,2020-12-02,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Moderna, Pfizer/BioNTech",Norwegian Institute of Public Health,https://www.fhi.no/sv/vaksine/koronavaksinasjo...
14234,Norway,NOR,2020-12-03,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Moderna, Pfizer/BioNTech",Norwegian Institute of Public Health,https://www.fhi.no/sv/vaksine/koronavaksinasjo...
14235,Norway,NOR,2020-12-04,2.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,"Moderna, Pfizer/BioNTech",Norwegian Institute of Public Health,https://www.fhi.no/sv/vaksine/koronavaksinasjo...
14236,Norway,NOR,2020-12-05,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Moderna, Pfizer/BioNTech",Norwegian Institute of Public Health,https://www.fhi.no/sv/vaksine/koronavaksinasjo...
14237,Norway,NOR,2020-12-06,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Moderna, Pfizer/BioNTech",Norwegian Institute of Public Health,https://www.fhi.no/sv/vaksine/koronavaksinasjo...

In [118]:
# function to easily agrregate columns
def aggregate(df: pd.Series, agg_col: str) -> pd.DataFrame:
    data = df.groupby(["country"])[agg_col].max()
    data = pd.DataFrame(data)
    return data

combining the vaccine and summary df

In [119]:
summary = df_summary.set_index("country")
vaccines = df_vaccine[['country', 'vaccines']].drop_duplicates().set_index('country')
summary = summary.join(vaccines)

In [120]:
df_vaccine.columns[3:-3]

Index(['total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred',
       'daily_vaccinations_per_million'],
      dtype='object')

In [121]:
for cols in df_vaccine.columns[3:-3]:
  summary = summary.join(aggregate(df_vaccine,cols))

In [122]:
summary.head()

,continent,total_confirmed,total_deaths,total_recovered,active_cases,serious_or_critical,total_cases_per_1m_population,total_deaths_per_1m_population,total_tests,total_tests_per_1m_population,...,vaccines,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,66275,2812.0,56035,7428,1124.0,1669,71.0,446456.0,11244.0,...,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",590454.0,479372.0,111082.0,0.0,13921.0,1.52,1.23,0.29,358.0
Albania,Europe,132209,2444.0,128732,1033,18.0,45986,850.0,696434.0,242239.0,...,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",759043.0,481788.0,277255.0,23655.0,17565.0,26.38,16.74,9.63,6104.0
Algeria,Africa,126860,3418.0,88346,35096,18.0,2847,77.0,230861.0,5182.0,...,Sputnik V,75000.0,0.0,0.0,30.0,3748.0,0.17,0.00,0.00,85.0
Andorra,Europe,13569,127.0,13234,208,12.0,175367,1641.0,193595.0,2502036.0,...,"Oxford/AstraZeneca, Pfizer/BioNTech",32317.0,27613.0,4704.0,2829.0,1182.0,41.83,35.74,6.09,15298.0
Angola,Africa,32441,725.0,26778,4938,11.0,961,21.0,553070.0,16377.0,...,Oxford/AstraZeneca,859979.0,663049.0,196930.0,0.0,22570.0,2.62,2.02,0.60,687.0

In [123]:
summary['vaccinated_percent'] = summary.total_vaccinations / summary.population * 100
summary['tested_positive'] = summary.total_confirmed / summary.total_tests * 100

In [124]:
summary.shape

(222, 23)

In [125]:
summary.to_csv('data/summary_df.csv')

In [126]:
df_daily

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,2020-2-15,Afghanistan,0.0,NaN,0.0,0.0,NaN
1,2020-2-16,Afghanistan,0.0,NaN,0.0,0.0,NaN
2,2020-2-17,Afghanistan,0.0,NaN,0.0,0.0,NaN
3,2020-2-18,Afghanistan,0.0,NaN,0.0,0.0,NaN
4,2020-2-19,Afghanistan,0.0,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...
102099,2021-5-19,Zimbabwe,38612.0,17.0,613.0,1583.0,0.0
102100,2021-5-20,Zimbabwe,38635.0,23.0,623.0,1585.0,2.0
102101,2021-5-21,Zimbabwe,38664.0,29.0,643.0,1586.0,1.0
102102,2021-5-22,Zimbabwe,38679.0,15.0,648.0,1586.0,0.0
102103,2021-5-23,Zimbabwe,38682.0,3.0,643.0,1586.0,0.0

In [127]:
df_daily['date'] = pd.to_datetime(df_daily['date'])
df_daily = df_daily.sort_values('date', ascending=True)

df_daily['date'] = df_daily['date'].dt.strftime('%Y-%m-%d')

In [128]:


# use only common countries and dates 
countries = df_vaccine.dropna(subset=['daily_vaccinations'])['country'].unique()
dates = df_vaccine.dropna(subset=['daily_vaccinations'])['date'].unique()
country_mask = df_daily.country.apply(lambda x: x in countries)
date_mask = df_daily.date.apply(lambda x: x in dates)

# generate the visualization data 
columns_to_sum = ['daily_new_cases', 'cumulative_total_cases', 'cumulative_total_deaths', 'active_cases']
daily_cases = df_daily[country_mask & date_mask].groupby('date')[columns_to_sum].sum()
daily_vaccs = df_vaccine.groupby('date')[[ 'daily_vaccinations']].sum()

# make it a dataframe for convenience  
data = pd.DataFrame(daily_cases).join(pd.DataFrame(daily_vaccs))

# bring back the vaccine data we prepared in the previous section 
cumulative_vaccines = pd.DataFrame(df_vaccine.groupby('date')['total_vaccinations'].sum())
data = data.join(cumulative_vaccines).reset_index()

In [129]:
data.head()

,date,daily_new_cases,cumulative_total_cases,cumulative_total_deaths,active_cases,daily_vaccinations,total_vaccinations
0,2020-12-02,643702.0,65475274.0,1514215.0,13840161.0,0.0,1.0
1,2020-12-03,689318.0,66164592.0,1526969.0,13962280.0,0.0,1.0
2,2020-12-04,691047.0,66855639.0,1539275.0,14099032.0,0.0,2.0
3,2020-12-05,643747.0,67499386.0,1549824.0,14165027.0,0.0,2.0
4,2020-12-06,551980.0,68051366.0,1557926.0,14263405.0,0.0,2.0

In [130]:
data.to_csv('data/df_daily.csv')