In [1]:
import pandas as pd
import numpy as np
import pycountry 
import plotly_express as px
import plotly.graph_objs as go

In [2]:
df_confirmed = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
df_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
df_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

In [3]:
df_confirmed.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/27/21', '5/28/21', '5/29/21', '5/30/21', '5/31/21', '6/1/21',
       '6/2/21', '6/3/21', '6/4/21', '6/5/21'],
      dtype='object', length=505)

Converting date columns into a seperate date row using pd.melt func

In [4]:
dates = df_confirmed.columns[4:]

df_confirmed_change1 = df_confirmed.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=dates,
    var_name='Date', 
    value_name='Confirmed'
)

In [5]:
df_confirmed_change1[df_confirmed_change1['Country/Region']=='India']

       Province/State Country/Region        Lat      Long     Date  Confirmed
147               NaN          India  20.593684  78.96288  1/22/20          0
423               NaN          India  20.593684  78.96288  1/23/20          0
699               NaN          India  20.593684  78.96288  1/24/20          0
975               NaN          India  20.593684  78.96288  1/25/20          0
1251              NaN          India  20.593684  78.96288  1/26/20          0
...               ...            ...        ...       ...      ...        ...
137043            NaN          India  20.593684  78.96288   6/1/21   28307832
137319            NaN          India  20.593684  78.96288   6/2/21   28441986
137595            NaN          India  20.593684  78.96288   6/3/21   28574350
137871            NaN          India  20.593684  78.96288   6/4/21   28694879
138147            NaN          India  20.593684  78.96288   6/5/21   28694879

[501 rows x 6 columns]

In [6]:
dates = df_confirmed.columns[4:]

df_confirmed_change = df_confirmed.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    var_name='Date', 
    value_name='Confirmed'
)

In [7]:
df_confirmed_change

,Province/State,Country/Region,Lat,Long,Date,Confirmed
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
138271,NaN,Vietnam,14.058324,108.277199,6/5/21,8580
138272,NaN,West Bank and Gaza,31.952200,35.233200,6/5/21,309853
138273,NaN,Yemen,15.552727,48.516388,6/5/21,6780
138274,NaN,Zambia,-13.133897,27.849332,6/5/21,99540
138275,NaN,Zimbabwe,-19.015438,29.154857,6/5/21,39168

In [8]:
df_deaths_change = df_deaths.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=dates, 
    var_name='Date', 
    value_name='Deaths'
)

In [9]:
df_deaths_change

,Province/State,Country/Region,Lat,Long,Date,Deaths
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
138271,NaN,Vietnam,14.058324,108.277199,6/5/21,53
138272,NaN,West Bank and Gaza,31.952200,35.233200,6/5/21,3516
138273,NaN,Yemen,15.552727,48.516388,6/5/21,1325
138274,NaN,Zambia,-13.133897,27.849332,6/5/21,1303
138275,NaN,Zimbabwe,-19.015438,29.154857,6/5/21,1605

In [10]:
df_recovered_change = df_recovered.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=dates, 
    var_name='Date', 
    value_name='Recovered'
)

In [11]:
df_recovered_change

,Province/State,Country/Region,Lat,Long,Date,Recovered
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
130756,NaN,Vietnam,14.058324,108.277199,6/5/21,3310
130757,NaN,West Bank and Gaza,31.952200,35.233200,6/5/21,301670
130758,NaN,Yemen,15.552727,48.516388,6/5/21,3550
130759,NaN,Zambia,-13.133897,27.849332,6/5/21,93036
130760,NaN,Zimbabwe,-19.015438,29.154857,6/5/21,36698

In [12]:
df_recovered_change = df_recovered_change[df_recovered_change['Country/Region']!='Canada']

In [13]:
full_table = df_confirmed_change.merge(
  right=df_deaths_change, 
  how='left',
  on=['Province/State', 'Country/Region', 'Date', 'Lat', 'Long']
)
# Merging full_table and recovered_df_long
full_table = full_table.merge(
  right=df_recovered_change, 
  how='left',
  on=['Province/State', 'Country/Region', 'Date', 'Lat', 'Long']
)

In [14]:
full_table.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.93911,67.709953,1/22/20,0,0,0.0
1,NaN,Albania,41.15330,20.168300,1/22/20,0,0,0.0
2,NaN,Algeria,28.03390,1.659600,1/22/20,0,0,0.0
3,NaN,Andorra,42.50630,1.521800,1/22/20,0,0,0.0
4,NaN,Angola,-11.20270,17.873900,1/22/20,0,0,0.0

### Data Cleaning

In [15]:
full_table['Date'] = pd.to_datetime(full_table['Date'])

In [16]:
full_table.isnull().sum()

Province/State    95190
Country/Region        0
Lat                1002
Long               1002
Date                  0
Confirmed             0
Deaths                0
Recovered         10521
dtype: int64

In [17]:
full_table['Recovered'] = full_table['Recovered'].fillna(0)

In [18]:
full_table.isnull().sum()

Province/State    95190
Country/Region        0
Lat                1002
Long               1002
Date                  0
Confirmed             0
Deaths                0
Recovered             0
dtype: int64

In [19]:
full_table[full_table['Country/Region']=='MS Zaandam'].head(20)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
173,NaN,MS Zaandam,0.0,0.0,2020-01-22,0,0,0.0
449,NaN,MS Zaandam,0.0,0.0,2020-01-23,0,0,0.0
725,NaN,MS Zaandam,0.0,0.0,2020-01-24,0,0,0.0
1001,NaN,MS Zaandam,0.0,0.0,2020-01-25,0,0,0.0
1277,NaN,MS Zaandam,0.0,0.0,2020-01-26,0,0,0.0
1553,NaN,MS Zaandam,0.0,0.0,2020-01-27,0,0,0.0
1829,NaN,MS Zaandam,0.0,0.0,2020-01-28,0,0,0.0
2105,NaN,MS Zaandam,0.0,0.0,2020-01-29,0,0,0.0
2381,NaN,MS Zaandam,0.0,0.0,2020-01-30,0,0,0.0
2657,NaN,MS Zaandam,0.0,0.0,2020-01-31,0,0,0.0
2933,NaN,MS Zaandam,0.0,0.0,2020-02-01,0,0,0.0
3209,NaN,MS Zaandam,0.0,0.0,2020-02-02,0,0,0.0
3485,NaN,MS Zaandam,0.0,0.0,2020-02-03,0,0,0.0
3761,NaN,MS Zaandam,0.0,0.0,2020-02-04,0,0,0.0
4037,NaN,MS Zaandam,0.0,0.0,2020-02-05,0,0,0.0
4313,NaN,MS Zaandam,0.0,0.0,2020-02-06,0,0,0.0
4589,NaN,MS Zaandam,0.0,0.0,2020-02-07,0,0,0.0
4865,NaN,MS Zaandam,0.0,0.0,2020-02-08,0,0,0.0
5141,NaN,MS Zaandam,0.0,0.0,2020-02-09,0,0,0.0
5417,NaN,MS Zaandam,0.0,0.0,2020-02-10,0,0,0.0

In [20]:
ship_rows = full_table['Province/State'].str.contains('Grand Princess') | full_table['Province/State'].str.contains('Diamond Princess') | full_table['Country/Region'].str.contains('Diamond Princess') | full_table['Country/Region'].str.contains('MS Zaandam')
full_ship = full_table[ship_rows]

In [21]:
full_table = full_table[~(ship_rows)]

In [22]:
full_table

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0.0
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0.0
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0.0
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0.0
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0.0
...,...,...,...,...,...,...,...,...
138271,NaN,Vietnam,14.058324,108.277199,2021-06-05,8580,53,3310.0
138272,NaN,West Bank and Gaza,31.952200,35.233200,2021-06-05,309853,3516,301670.0
138273,NaN,Yemen,15.552727,48.516388,2021-06-05,6780,1325,3550.0
138274,NaN,Zambia,-13.133897,27.849332,2021-06-05,99540,1303,93036.0
138275,NaN,Zimbabwe,-19.015438,29.154857,2021-06-05,39168,1605,36698.0

Data Aggregation

In [23]:
#Active cases = Confirmed - Deaths - recovered
full_table['Active'] = full_table['Confirmed'] - full_table['Deaths'] - full_table['Recovered']

In [24]:
full_table[full_table['Active']!= 0]

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active
58,Anhui,China,31.825700,117.226400,2020-01-22,1,0,0.0,1.0
59,Beijing,China,40.182400,116.414200,2020-01-22,14,0,0.0,14.0
60,Chongqing,China,30.057200,107.874000,2020-01-22,6,0,0.0,6.0
61,Fujian,China,26.078900,117.987400,2020-01-22,1,0,0.0,1.0
63,Guangdong,China,23.341700,113.424400,2020-01-22,26,0,0.0,26.0
...,...,...,...,...,...,...,...,...,...
138271,NaN,Vietnam,14.058324,108.277199,2021-06-05,8580,53,3310.0,5217.0
138272,NaN,West Bank and Gaza,31.952200,35.233200,2021-06-05,309853,3516,301670.0,4667.0
138273,NaN,Yemen,15.552727,48.516388,2021-06-05,6780,1325,3550.0,1905.0
138274,NaN,Zambia,-13.133897,27.849332,2021-06-05,99540,1303,93036.0,5201.0
138275,NaN,Zimbabwe,-19.015438,29.154857,2021-06-05,39168,1605,36698.0,865.0

Aggregate data Country-wise and then group them by date

In [25]:
full_grouped= full_table.groupby(['Date', 'Country/Region'])['Confirmed', 'Deaths', 'Recovered', 'Active'].sum().reset_index()

<ipython-input-25-366f9bd4b8a4>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  full_grouped= full_table.groupby(['Date', 'Country/Region'])['Confirmed', 'Deaths', 'Recovered', 'Active'].sum().reset_index()

In [26]:
full_grouped

            Date      Country/Region  Confirmed  Deaths  Recovered  Active
0     2020-01-22         Afghanistan          0       0        0.0     0.0
1     2020-01-22             Albania          0       0        0.0     0.0
2     2020-01-22             Algeria          0       0        0.0     0.0
3     2020-01-22             Andorra          0       0        0.0     0.0
4     2020-01-22              Angola          0       0        0.0     0.0
...          ...                 ...        ...     ...        ...     ...
95686 2021-06-05             Vietnam       8580      53     3310.0  5217.0
95687 2021-06-05  West Bank and Gaza     309853    3516   301670.0  4667.0
95688 2021-06-05               Yemen       6780    1325     3550.0  1905.0
95689 2021-06-05              Zambia      99540    1303    93036.0  5201.0
95690 2021-06-05            Zimbabwe      39168    1605    36698.0   865.0

[95691 rows x 6 columns]

In [28]:
temp = full_grouped.groupby(['Country/Region','Date', ])['Confirmed', 'Deaths', 'Recovered']
temp = temp.sum().diff().reset_index()

mask = temp['Country/Region'] != temp['Country/Region'].shift(1)
temp.loc[mask, 'Confirmed'] = np.nan
temp.loc[mask, 'Deaths'] = np.nan
temp.loc[mask, 'Recovered'] = np.nan
# renaming columns
temp.columns = ['Country/Region', 'Date', 'New cases', 'New deaths', 'New recovered']
# merging new values
full_grouped = pd.merge(full_grouped, temp, on=['Country/Region','Date'])
# filling na with 0
full_grouped = full_grouped.fillna(0)
# fixing data types
cols = ['New cases', 'New deaths', 'New recovered']
full_grouped[cols] = full_grouped[cols].astype('int')
# 
full_grouped['New cases'] = full_grouped['New cases'].apply(lambda x: 0 if x<0 else x)

<ipython-input-28-18ccc75cebc5>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  temp = full_grouped.groupby(['Country/Region','Date', ])['Confirmed', 'Deaths', 'Recovered']

In [29]:
full_grouped

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered
0,2020-01-22,Afghanistan,0,0,0.0,0.0,0,0,0
1,2020-01-22,Albania,0,0,0.0,0.0,0,0,0
2,2020-01-22,Algeria,0,0,0.0,0.0,0,0,0
3,2020-01-22,Andorra,0,0,0.0,0.0,0,0,0
4,2020-01-22,Angola,0,0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...
95686,2021-06-05,Vietnam,8580,53,3310.0,5217.0,216,2,68
95687,2021-06-05,West Bank and Gaza,309853,3516,301670.0,4667.0,209,5,126
95688,2021-06-05,Yemen,6780,1325,3550.0,1905.0,7,0,39
95689,2021-06-05,Zambia,99540,1303,93036.0,5201.0,1164,6,522
95690,2021-06-05,Zimbabwe,39168,1605,36698.0,865.0,24,0,8

In [30]:
def get_country_code(name):
    try:
        return pycountry.countries.lookup(name).alpha_3
    except:
        None
full_grouped['iso_code'] = full_grouped['Country/Region'].apply(get_country_code)

In [31]:
full_grouped

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,iso_code
0,2020-01-22,Afghanistan,0,0,0.0,0.0,0,0,0,AFG
1,2020-01-22,Albania,0,0,0.0,0.0,0,0,0,ALB
2,2020-01-22,Algeria,0,0,0.0,0.0,0,0,0,DZA
3,2020-01-22,Andorra,0,0,0.0,0.0,0,0,0,AND
4,2020-01-22,Angola,0,0,0.0,0.0,0,0,0,AGO
...,...,...,...,...,...,...,...,...,...,...
95686,2021-06-05,Vietnam,8580,53,3310.0,5217.0,216,2,68,VNM
95687,2021-06-05,West Bank and Gaza,309853,3516,301670.0,4667.0,209,5,126,None
95688,2021-06-05,Yemen,6780,1325,3550.0,1905.0,7,0,39,YEM
95689,2021-06-05,Zambia,99540,1303,93036.0,5201.0,1164,6,522,ZMB
95690,2021-06-05,Zimbabwe,39168,1605,36698.0,865.0,24,0,8,ZWE

In [50]:
def fetchdata():
    df_confirmed = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
    df_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
    df_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

    df_confirmed = df_confirmed.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name='Date', value_name='Confirmed')
    df_deaths = df_deaths.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name='Date', value_name='Deaths')
    df_recovered = df_recovered.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name='Date', value_name='Recovered')

    df_confirmed["Confirmed"] = df_confirmed["Confirmed"].fillna(0)
    df_confirmed.loc[:, "Date"] = df_confirmed["Date"].apply(lambda s: pd.to_datetime(s))


    df_deaths["Deaths"] = df_deaths["Deaths"].fillna(0)
    df_deaths.loc[:, "Date"] = df_deaths["Date"].apply(lambda s: pd.to_datetime(s))

    
    df_recovered["Recovered"] = df_recovered["Recovered"].fillna(0)
    df_recovered.loc[:, "Date"] = df_recovered["Date"].apply(lambda s: pd.to_datetime(s))

    return {
        "Confirmed": df_confirmed.head(),
        "Deaths": df_deaths.head(),
        "Recovered": df_recovered.head()
    }

In [52]:
fetchdata()

{'Confirmed':   Province/State Country/Region       Lat       Long       Date  Confirmed
 0            NaN    Afghanistan  33.93911  67.709953 2020-01-22          0
 1            NaN        Albania  41.15330  20.168300 2020-01-22          0
 2            NaN        Algeria  28.03390   1.659600 2020-01-22          0
 3            NaN        Andorra  42.50630   1.521800 2020-01-22          0
 4            NaN         Angola -11.20270  17.873900 2020-01-22          0,
 'Deaths':   Province/State Country/Region       Lat       Long       Date  Deaths
 0            NaN    Afghanistan  33.93911  67.709953 2020-01-22       0
 1            NaN        Albania  41.15330  20.168300 2020-01-22       0
 2            NaN        Algeria  28.03390   1.659600 2020-01-22       0
 3            NaN        Andorra  42.50630   1.521800 2020-01-22       0
 4            NaN         Angola -11.20270  17.873900 2020-01-22       0,
 'Recovered':   Province/State Country/Region       Lat       Long       Date  Recovered
 0            NaN    Afghanistan  33.93911  67.709953 2020-01-22          0
 1            NaN        Albania  41.15330  20.168300 2020-01-22          0
 2            NaN        Algeria  28.03390   1.659600 2020-01-22          0
 3            NaN        Andorra  42.50630   1.521800 2020-01-22          0
 4            NaN         Angola -11.20270  17.873900 2020-01-22          0}

In [4]:
def fetchdata():
    df_confirmed = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
    df_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
    df_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

    df_confirmed = df_confirmed.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name='Date', value_name='Confirmed')
    df_deaths = df_deaths.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name='Date', value_name='Deaths')
    df_recovered = df_recovered.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name='Date', value_name='Recovered')

    df_all =  df_confirmed.merge(right=df_deaths, how='left',on=['Province/State', 'Country/Region', 'Date', 'Lat', 'Long'])
    df_all = df_all.merge(right=df_recovered, how='left',on=['Province/State', 'Country/Region', 'Date', 'Lat', 'Long'])

    df_all['Confirmed'] = df_all['Confirmed'].fillna(0)
    df_all['Deaths'] = df_all['Deaths'].fillna(0)
    df_all['Recovered'] = df_all['Recovered'].fillna(0)
    df_all['Date'] = df_all['Date'].apply(lambda s: pd.to_datetime(s))

    #tabulating the active cases
    df_all['Active'] = df_all['Confirmed'] - df_all['Deaths'] - df_all['Recovered']

    return df_all.head(10)

In [5]:
fetchdata()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0.0,0.0
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0.0,0.0
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0.0,0.0
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0.0,0.0
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0.0,0.0
5,NaN,Antigua and Barbuda,17.06080,-61.796400,2020-01-22,0,0,0.0,0.0
6,NaN,Argentina,-38.41610,-63.616700,2020-01-22,0,0,0.0,0.0
7,NaN,Armenia,40.06910,45.038200,2020-01-22,0,0,0.0,0.0
8,Australian Capital Territory,Australia,-35.47350,149.012400,2020-01-22,0,0,0.0,0.0
9,New South Wales,Australia,-33.86880,151.209300,2020-01-22,0,0,0.0,0.0

In [7]:
def load_data():
    """ Function to load data
        param DATA_URL: data_url
        return: pandas dataframe
    """
    data = pd.read_csv(r"data/covid.csv")
    data['Date'] = pd.to_datetime(data['Date']).dt.strftime('%Y-%m-%d')
    return data

df = load_data()
df.head()

,Unnamed: 0,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,iso_code,Active
0,0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0.0,AFG,0.0
1,1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0.0,ALB,0.0
2,2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0.0,DZA,0.0
3,3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0.0,AND,0.0
4,4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0.0,AGO,0.0

In [34]:
datewise=full_grouped.groupby(["Date"]).agg({"Active":'sum'})
datewise["Days Since"]=datewise.index-datewise.index.min()
fig=px.bar(x=datewise.index,y=datewise["Active"])
fig.update_layout(title="Distribution of Number of Active Cases",
                  xaxis_title="Date",yaxis_title="Number of Cases",)
fig.show()

In [2]:
import fbprophet
fbprophet.__version__

'0.7.1'

In [1]:
import sklearn
sklearn.__version__

'0.24.2'